.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.986000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.038000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.953000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:59.520000px;}
._1{width:62.016000px;}
._3{width:64.512000px;}
._2{width:66.176000px;}
.fc4{color:rgb(102,102,102);}
.fc0{color:rgb(105,105,105);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(0,0,0);}
.fc1{color:rgb(66,66,66);}
.fs6{font-size:56.000000px;}
.fs7{font-size:64.000000px;}
.fs5{font-size:72.000000px;}
.fs1{font-size:80.000000px;}
.fs4{font-size:96.000000px;}
.fs3{font-size:120.000000px;}
.fs0{font-size:160.000000px;}
.fs2{font-size:176.000000px;}
.fs8{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y45{bottom:28.316406px;}
.y73{bottom:46.298279px;}
.y64{bottom:49.898254px;}
.y44{bottom:49.916382px;}
.y54{bottom:49.916397px;}
.y9e{bottom:54.572174px;}
.y5{bottom:55.564194px;}
.y26{bottom:58.533173px;}
.y35{bottom:61.898254px;}
.y83{bottom:64.298248px;}
.y72{bottom:67.898254px;}
.y63{bottom:71.498230px;}
.y43{bottom:71.516357px;}
.y53{bottom:71.516373px;}
.y9d{bottom:76.652161px;}
.y4{bottom:79.564194px;}
.y34{bottom:83.498230px;}
.y82{bottom:85.898224px;}
.y25{bottom:87.333191px;}
.y71{bottom:89.498230px;}
.y62{bottom:93.098206px;}
.y42{bottom:93.116333px;}
.y52{bottom:93.116348px;}
.y9c{bottom:98.732147px;}
.y3{bottom:103.564194px;}
.y33{bottom:105.098206px;}
.y81{bottom:107.498199px;}
.y30{bottom:114.698181px;}
.y41{bottom:114.716309px;}
.y51{bottom:114.716324px;}
.y24{bottom:116.133209px;}
.y9b{bottom:120.812134px;}
.y19{bottom:126.698181px;}
.y80{bottom:129.098175px;}
.y70{bottom:132.698181px;}
.y8e{bottom:135.194550px;}
.y2f{bottom:136.298157px;}
.y40{bottom:136.316284px;}
.y9a{bottom:142.892120px;}
.y23{bottom:144.933228px;}
.y60{bottom:145.916260px;}
.y18{bottom:148.298157px;}
.yb{bottom:150.251480px;}
.y7f{bottom:150.698151px;}
.y6f{bottom:154.298157px;}
.y2e{bottom:157.898132px;}
.y50{bottom:157.916275px;}
.y8d{bottom:160.034546px;}
.y2{bottom:160.777924px;}
.y99{bottom:164.972107px;}
.y5f{bottom:167.516235px;}
.y17{bottom:169.898132px;}
.y7e{bottom:172.298126px;}
.y22{bottom:173.733246px;}
.y6e{bottom:175.898132px;}
.y2d{bottom:179.498138px;}
.y3f{bottom:179.516235px;}
.y4f{bottom:179.516251px;}
.y8c{bottom:184.874542px;}
.y98{bottom:187.052109px;}
.y5e{bottom:189.116241px;}
.y16{bottom:191.498138px;}
.y6d{bottom:197.498138px;}
.y2c{bottom:201.098145px;}
.y3e{bottom:201.116241px;}
.y4e{bottom:201.116257px;}
.y21{bottom:202.533249px;}
.y1{bottom:208.777920px;}
.y97{bottom:209.132111px;}
.y8b{bottom:209.714539px;}
.y5d{bottom:210.716248px;}
.y15{bottom:213.098145px;}
.y7d{bottom:215.498138px;}
.ya{bottom:216.251480px;}
.y6c{bottom:219.098145px;}
.y61{bottom:222.698151px;}
.y3d{bottom:222.716248px;}
.y4d{bottom:222.716263px;}
.y96{bottom:231.212112px;}
.y20{bottom:231.333252px;}
.y5c{bottom:232.316254px;}
.y8a{bottom:234.554535px;}
.y14{bottom:234.698151px;}
.y7c{bottom:237.098145px;}
.y74{bottom:244.298157px;}
.y3c{bottom:244.316254px;}
.y4c{bottom:244.316269px;}
.y95{bottom:253.292114px;}
.y13{bottom:256.298157px;}
.y7b{bottom:258.698151px;}
.y89{bottom:259.394531px;}
.y6b{bottom:262.298157px;}
.y2b{bottom:265.898163px;}
.y3b{bottom:265.916260px;}
.y4b{bottom:265.916275px;}
.y9f{bottom:266.581017px;}
.y94{bottom:275.372116px;}
.y5b{bottom:275.516266px;}
.y12{bottom:277.898163px;}
.y7a{bottom:280.298157px;}
.y9{bottom:282.251480px;}
.y6a{bottom:283.898163px;}
.y88{bottom:284.234528px;}
.y2a{bottom:287.498169px;}
.y1f{bottom:288.933258px;}
.y5a{bottom:297.116272px;}
.y93{bottom:297.452118px;}
.y11{bottom:299.498169px;}
.y69{bottom:305.498169px;}
.y87{bottom:309.074524px;}
.y29{bottom:309.098175px;}
.y3a{bottom:309.116272px;}
.y4a{bottom:309.116287px;}
.y1e{bottom:317.733269px;}
.y59{bottom:318.716278px;}
.y92{bottom:319.532120px;}
.y10{bottom:321.098175px;}
.y79{bottom:323.498169px;}
.y68{bottom:327.098175px;}
.y28{bottom:330.698181px;}
.y39{bottom:330.716278px;}
.y49{bottom:330.716293px;}
.y86{bottom:333.914520px;}
.y58{bottom:340.316284px;}
.y91{bottom:341.612122px;}
.yf{bottom:342.698181px;}
.y78{bottom:345.098175px;}
.y1d{bottom:346.533272px;}
.y8{bottom:348.251480px;}
.y67{bottom:348.698181px;}
.y27{bottom:352.298180px;}
.y38{bottom:352.316284px;}
.y48{bottom:352.316299px;}
.y85{bottom:358.754524px;}
.y57{bottom:361.916283px;}
.y90{bottom:363.692123px;}
.y32{bottom:364.298180px;}
.ye{bottom:364.298183px;}
.y77{bottom:366.698177px;}
.y66{bottom:370.298180px;}
.y37{bottom:373.916283px;}
.y47{bottom:373.916298px;}
.y1c{bottom:375.333275px;}
.y84{bottom:383.594524px;}
.y56{bottom:384.951378px;}
.y8f{bottom:385.772125px;}
.yd{bottom:385.898182px;}
.y31{bottom:387.333275px;}
.y76{bottom:388.298180px;}
.y65{bottom:393.333275px;}
.y36{bottom:396.951378px;}
.y46{bottom:396.951393px;}
.y1b{bottom:404.133276px;}
.yc{bottom:407.976547px;}
.y75{bottom:409.898182px;}
.y6{bottom:414.201660px;}
.y7{bottom:414.251472px;}
.y55{bottom:454.258244px;}
.y1a{bottom:454.258633px;}
.hb{height:52.160000px;}
.ha{height:54.504000px;}
.h7{height:58.680000px;}
.h2{height:60.560000px;}
.h5{height:65.200000px;}
.h6{height:68.718750px;}
.h9{height:78.240000px;}
.h4{height:90.840000px;}
.h1{height:121.120000px;}
.h8{height:130.400000px;}
.h3{height:133.232000px;}
.hc{height:175.200000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x6{left:73.068489px;}
.x1{left:188.334106px;}
.xa{left:219.537689px;}
.x10{left:222.112091px;}
.x8{left:224.696869px;}
.xe{left:228.077087px;}
.x11{left:231.112091px;}
.x14{left:239.657379px;}
.x9{left:254.696869px;}
.x13{left:258.112091px;}
.xd{left:260.696854px;}
.xf{left:263.696747px;}
.xb{left:265.696854px;}
.x12{left:267.112091px;}
.x15{left:275.657379px;}
.x17{left:280.770035px;}
.xc{left:290.696854px;}
.x2{left:293.614105px;}
.x16{left:302.657379px;}
.x7{left:388.379883px;}
.x3{left:620.038910px;}
.x4{left:738.158875px;}
.x5{left:739.438889px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:79.360000pt;}
._1{width:82.688000pt;}
._3{width:86.016000pt;}
._2{width:88.234667pt;}
.fs6{font-size:74.666667pt;}
.fs7{font-size:85.333333pt;}
.fs5{font-size:96.000000pt;}
.fs1{font-size:106.666667pt;}
.fs4{font-size:128.000000pt;}
.fs3{font-size:160.000000pt;}
.fs0{font-size:213.333333pt;}
.fs2{font-size:234.666667pt;}
.fs8{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y45{bottom:37.755208pt;}
.y73{bottom:61.731038pt;}
.y64{bottom:66.531006pt;}
.y44{bottom:66.555176pt;}
.y54{bottom:66.555196pt;}
.y9e{bottom:72.762899pt;}
.y5{bottom:74.085592pt;}
.y26{bottom:78.044230pt;}
.y35{bottom:82.531006pt;}
.y83{bottom:85.730998pt;}
.y72{bottom:90.531006pt;}
.y63{bottom:95.330973pt;}
.y43{bottom:95.355143pt;}
.y53{bottom:95.355164pt;}
.y9d{bottom:102.202881pt;}
.y4{bottom:106.085592pt;}
.y34{bottom:111.330973pt;}
.y82{bottom:114.530965pt;}
.y25{bottom:116.444255pt;}
.y71{bottom:119.330973pt;}
.y62{bottom:124.130941pt;}
.y42{bottom:124.155111pt;}
.y52{bottom:124.155131pt;}
.y9c{bottom:131.642863pt;}
.y3{bottom:138.085592pt;}
.y33{bottom:140.130941pt;}
.y81{bottom:143.330933pt;}
.y30{bottom:152.930908pt;}
.y41{bottom:152.955078pt;}
.y51{bottom:152.955098pt;}
.y24{bottom:154.844279pt;}
.y9b{bottom:161.082845pt;}
.y19{bottom:168.930908pt;}
.y80{bottom:172.130900pt;}
.y70{bottom:176.930908pt;}
.y8e{bottom:180.259399pt;}
.y2f{bottom:181.730876pt;}
.y40{bottom:181.755046pt;}
.y9a{bottom:190.522827pt;}
.y23{bottom:193.244303pt;}
.y60{bottom:194.555013pt;}
.y18{bottom:197.730876pt;}
.yb{bottom:200.335307pt;}
.y7f{bottom:200.930868pt;}
.y6f{bottom:205.730876pt;}
.y2e{bottom:210.530843pt;}
.y50{bottom:210.555033pt;}
.y8d{bottom:213.379395pt;}
.y2{bottom:214.370565pt;}
.y99{bottom:219.962809pt;}
.y5f{bottom:223.354980pt;}
.y17{bottom:226.530843pt;}
.y7e{bottom:229.730835pt;}
.y22{bottom:231.644328pt;}
.y6e{bottom:234.530843pt;}
.y2d{bottom:239.330851pt;}
.y3f{bottom:239.354980pt;}
.y4f{bottom:239.355001pt;}
.y8c{bottom:246.499390pt;}
.y98{bottom:249.402812pt;}
.y5e{bottom:252.154989pt;}
.y16{bottom:255.330851pt;}
.y6d{bottom:263.330851pt;}
.y2c{bottom:268.130859pt;}
.y3e{bottom:268.154989pt;}
.y4e{bottom:268.155009pt;}
.y21{bottom:270.044332pt;}
.y1{bottom:278.370560pt;}
.y97{bottom:278.842814pt;}
.y8b{bottom:279.619385pt;}
.y5d{bottom:280.954997pt;}
.y15{bottom:284.130859pt;}
.y7d{bottom:287.330851pt;}
.ya{bottom:288.335307pt;}
.y6c{bottom:292.130859pt;}
.y61{bottom:296.930868pt;}
.y3d{bottom:296.954997pt;}
.y4d{bottom:296.955017pt;}
.y96{bottom:308.282817pt;}
.y20{bottom:308.444336pt;}
.y5c{bottom:309.755005pt;}
.y8a{bottom:312.739380pt;}
.y14{bottom:312.930868pt;}
.y7c{bottom:316.130859pt;}
.y74{bottom:325.730876pt;}
.y3c{bottom:325.755005pt;}
.y4c{bottom:325.755025pt;}
.y95{bottom:337.722819pt;}
.y13{bottom:341.730876pt;}
.y7b{bottom:344.930868pt;}
.y89{bottom:345.859375pt;}
.y6b{bottom:349.730876pt;}
.y2b{bottom:354.530884pt;}
.y3b{bottom:354.555013pt;}
.y4b{bottom:354.555033pt;}
.y9f{bottom:355.441355pt;}
.y94{bottom:367.162821pt;}
.y5b{bottom:367.355021pt;}
.y12{bottom:370.530884pt;}
.y7a{bottom:373.730876pt;}
.y9{bottom:376.335307pt;}
.y6a{bottom:378.530884pt;}
.y88{bottom:378.979370pt;}
.y2a{bottom:383.330892pt;}
.y1f{bottom:385.244344pt;}
.y5a{bottom:396.155029pt;}
.y93{bottom:396.602824pt;}
.y11{bottom:399.330892pt;}
.y69{bottom:407.330892pt;}
.y87{bottom:412.099365pt;}
.y29{bottom:412.130900pt;}
.y3a{bottom:412.155029pt;}
.y4a{bottom:412.155050pt;}
.y1e{bottom:423.644358pt;}
.y59{bottom:424.955037pt;}
.y92{bottom:426.042826pt;}
.y10{bottom:428.130900pt;}
.y79{bottom:431.330892pt;}
.y68{bottom:436.130900pt;}
.y28{bottom:440.930908pt;}
.y39{bottom:440.955037pt;}
.y49{bottom:440.955058pt;}
.y86{bottom:445.219360pt;}
.y58{bottom:453.755046pt;}
.y91{bottom:455.482829pt;}
.yf{bottom:456.930908pt;}
.y78{bottom:460.130900pt;}
.y1d{bottom:462.044362pt;}
.y8{bottom:464.335307pt;}
.y67{bottom:464.930908pt;}
.y27{bottom:469.730906pt;}
.y38{bottom:469.755046pt;}
.y48{bottom:469.755066pt;}
.y85{bottom:478.339366pt;}
.y57{bottom:482.555044pt;}
.y90{bottom:484.922831pt;}
.y32{bottom:485.730906pt;}
.ye{bottom:485.730911pt;}
.y77{bottom:488.930903pt;}
.y66{bottom:493.730906pt;}
.y37{bottom:498.555044pt;}
.y47{bottom:498.555064pt;}
.y1c{bottom:500.444366pt;}
.y84{bottom:511.459366pt;}
.y56{bottom:513.268504pt;}
.y8f{bottom:514.362834pt;}
.yd{bottom:514.530909pt;}
.y31{bottom:516.444366pt;}
.y76{bottom:517.730906pt;}
.y65{bottom:524.444366pt;}
.y36{bottom:529.268504pt;}
.y46{bottom:529.268524pt;}
.y1b{bottom:538.844368pt;}
.yc{bottom:543.968730pt;}
.y75{bottom:546.530909pt;}
.y6{bottom:552.268880pt;}
.y7{bottom:552.335297pt;}
.y55{bottom:605.677658pt;}
.y1a{bottom:605.678177pt;}
.hb{height:69.546667pt;}
.ha{height:72.672000pt;}
.h7{height:78.240000pt;}
.h2{height:80.746667pt;}
.h5{height:86.933333pt;}
.h6{height:91.625000pt;}
.h9{height:104.320000pt;}
.h4{height:121.120000pt;}
.h1{height:161.493333pt;}
.h8{height:173.866667pt;}
.h3{height:177.642667pt;}
.hc{height:233.600000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x6{left:97.424652pt;}
.x1{left:251.112142pt;}
.xa{left:292.716919pt;}
.x10{left:296.149455pt;}
.x8{left:299.595825pt;}
.xe{left:304.102783pt;}
.x11{left:308.149455pt;}
.x14{left:319.543172pt;}
.x9{left:339.595825pt;}
.x13{left:344.149455pt;}
.xd{left:347.595805pt;}
.xf{left:351.595662pt;}
.xb{left:354.262472pt;}
.x12{left:356.149455pt;}
.x15{left:367.543172pt;}
.x17{left:374.360046pt;}
.xc{left:387.595805pt;}
.x2{left:391.485474pt;}
.x16{left:403.543172pt;}
.x7{left:517.839844pt;}
.x3{left:826.718547pt;}
.x4{left:984.211833pt;}
.x5{left:985.918518pt;}
}
