.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc4{color:rgb(0,151,167);}
.fc0{color:rgb(255,255,255);}
.fc2{color:rgb(17,135,98);}
.fc3{color:rgb(0,0,0);}
.fc1{color:rgb(89,89,89);}
.fs1{font-size:40.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:112.000000px;}
.fs0{font-size:148.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:18.597725px;}
.y6{bottom:180.696148px;}
.y1{bottom:188.722015px;}
.y5{bottom:197.496151px;}
.y4{bottom:214.296151px;}
.y3{bottom:358.100191px;}
.h2{height:29.140625px;}
.h4{height:40.796875px;}
.h3{height:81.593750px;}
.h1{height:107.820312px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x4{left:26.811020px;}
.x1{left:156.888412px;}
.xb{left:210.521667px;}
.x7{left:264.347397px;}
.x8{left:271.573944px;}
.x5{left:278.755341px;}
.x3{left:300.344696px;}
.xa{left:310.660614px;}
.x9{left:329.160614px;}
.x6{left:691.862797px;}
.x2{left:697.362797px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:53.333333pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:149.333333pt;}
.fs0{font-size:197.333333pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:24.796967pt;}
.y6{bottom:240.928197pt;}
.y1{bottom:251.629354pt;}
.y5{bottom:263.328201pt;}
.y4{bottom:285.728202pt;}
.y3{bottom:477.466921pt;}
.h2{height:38.854167pt;}
.h4{height:54.395833pt;}
.h3{height:108.791667pt;}
.h1{height:143.760417pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x4{left:35.748027pt;}
.x1{left:209.184550pt;}
.xb{left:280.695557pt;}
.x7{left:352.463196pt;}
.x8{left:362.098592pt;}
.x5{left:371.673787pt;}
.x3{left:400.459595pt;}
.xa{left:414.214152pt;}
.x9{left:438.880819pt;}
.x6{left:922.483729pt;}
.x2{left:929.817062pt;}
}
